@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply m-auto px-14 sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-xl;
}

body {
  background-color: #f3f4f6;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #f3f4f6;
  }

  .dark {
    background-color: #111827;
  }
}
